// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2025 Particle Industries, Inc. All rights reserved.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/clock/qcom,camcc-sc7280.h>

&camss {
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		// CSIPHY0 - Reserved for primary camera
		port@0 {
			reg = <0>;
		};

		// CSIPHY1 - IMX219 camera on CSI1 port (shared with DSI)
		port@1 {
			reg = <1>;
			csiphy1_ep: endpoint {
				data-lanes = <1 2>;
				remote-endpoint = <&imx219_ep>;
			};
		};

		// CSIPHY2-4 - Available for future use
		port@2 {
			reg = <2>;
		};

		port@3 {
			reg = <3>;
		};

		port@4 {
			reg = <4>;
		};
	};
};

// I2C bus for camera sensors - using I2C13 (CSI/DSI I2C Bus)
&i2c13 {
	#address-cells = <1>;
	#size-cells = <0>;

	imx219: camera@10 {
		compatible = "sony,imx219";
		reg = <0x10>;

		clocks = <&camcc CAM_CC_MCLK1_CLK>;
		clock-names = "xclk";
		clock-frequency = <24000000>;

		vddl-supply = <&vreg_l1c_1p8>;   // 1.8V digital I/O
		vdig-supply = <&vreg_l1c_1p8>;    // 1.2V digital core
		vana-supply = <&vreg_l3c_2p8>;    // 2.8V analog

		reset-gpios = <&tlmm 21 GPIO_ACTIVE_LOW>;    // Reset on GPIO21
		enable-gpios = <&tlmm 78 GPIO_ACTIVE_HIGH>;  // Power enable on GPIO78

		pinctrl-names = "default";
		pinctrl-0 = <&cam_sensor_mclk1_active &cam_sensor_active_rst1 &cam_sensor_pwr_en &dsi_csi_sw_camera>;

		port {
			imx219_ep: endpoint {
				data-lanes = <1 2>;
				link-frequencies = /bits/ 64 <456000000>;
				remote-endpoint = <&csiphy1_ep>;
			};
		};
	};
};

&tlmm {
	cam_sensor_mclk1_active: cam-sensor-mclk1-active-state {
		pins = "gpio65";
		function = "cam_mclk";
		drive-strength = <2>;
		bias-disable;
	};

	cam_sensor_active_rst1: cam-sensor-active-rst1-state {
		pins = "gpio21";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
		output-low;
	};

	cam_sensor_pwr_en: cam-sensor-pwr-en-state {
		pins = "gpio78";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
		output-high;
	};

	// DSI/CSI switch control - set to camera mode
	dsi_csi_sw_camera: dsi-csi-sw-camera-state {
		pins = "gpio68";
		function = "gpio";
		drive-strength = <2>;
		output-high;  // Select camera mode (high=camera, low=display)
		bias-disable;
	};
};
